.container {
  display: flex;
  flex-direction: row;
}
.main {
  height: 500px;
  background-color: red;
  flex-grow: 1;
}

.left {
  height: 500px;
  order: -1;
  margin-right: 0;
  background-color: yellow;
  flex: 0 1 200px;
}

.right {
  height: 500px;
  margin-left: 0;
  background-color: green;
  flex: 0 1 200px;
}