.container{
    display:flex;
}
.center{
    flex-grow: 1;
    height: 1000px;
    background-color: red;
}
.left{
    order: -1;
    flex-basis: 400px;
    height: 1000px;
    background-color: green;
}
.right{
    flex-basis: 400px;
    height: 1000px;
    background-color: blue;
}