.container{
    padding-left: 100px;
    padding-right: 100px;
}
.center,.left,.right{
    position: relative;
    float:left;
    height: 1000px;
}
.center{
    width:100%;
    background-color: red;
}
.left{
    width:100px;
    background-color: green;
    margin-left: -100%;
    left:-100px;
}
.right{
    width: 100px;
    background-color: blue;
    margin-left:-100px;
    right:-100px;
}