body{
    padding: 0 140px;
}
ul li{
    list-style-type:none;
    padding-bottom: 20px;
    padding-top: 10px;
}
ul li span{
    font-size: 12px;
    font-style: italic;
}
.designpaper{
    background-color: white;
    width: 980px;
    height: 1386px;
    border-color: black;
    border-width: 5px;
}
/*
 *header部分的设置
 */
.header{
    width: 892px;
    height: 62px;
    display: flex;
    justify-content: space-between;
    font-family: "黑体";
    font-size: 12px;
    margin: 0 44px;
}
.header_left{
     background-color: #d45d5c;
    height: 12px;
    width: 110px;
   padding-top: 50px;
}
 .header_right{
     padding-top: 50px;
 }
 /*
  *header下面的一条线
  */
.line0{
    height: 2px;
    width: 892px;
    background-color: #938e8c;
    margin: 0 44px;
}
/*
 *content1部分的设置
 *采用flex盒布局分为左右两块
 */
.content1{
    width: 892px;
    height: 301px;
    padding-top: 35px;
    display: flex;
    flex-flow: row;

}
/*
 *左边部分盒布局，row
 *三层蒙版
 */
.content1_left{
    width: 641px;
    height: 301px;
    background: url("../img/m.jpg") repeat;
    background-size: 641px 301px;
    margin-left: 44px;
    display: flex;
    flex-flow: row;
}
.content1_left_c1{
    width: 191px;
    height: 100%;
    background: rgba(88,99,74,0.5);
}
.content1_left_c2{
    width: 259px;
    height: 100%;
}
.content1_left_c3{
    width: 191px;
    height: 100%;
    background-color: rgba(229,183,183,0.5);
}
/*
 *content右边部分盒布局为col
 */
.content1_right{
    width: 203px;
    height: 301px;
    margin-left: 48px;
    display: flex;
    flex-flow: column;
    font-family: "微软雅黑 Light";
}
.content1_right_line1{
    width: 203px;
    height: 1px;
    padding-bottom: 1px;
    background-color: #d07d91;
}
.content1_right_text0{
    font-size: 24px;
    color: #000000;
    line-height: 40px;
    text-decoration: underline; /*下划线*/
    font-variant: small-caps; /*此方法让小写字母变大但不改变字号大小*/
}

.content1_right_text1,.content1_right_text5{
    font-size: 12px;
}
.content1_right_text2{
    font-size: 100px;
    font-style: italic; /*倾斜*/
    color: #75b86b;
}
.content1_right_text3{font-size: 55px;}
.content1_right_text4{font-size: 21px;}
.content1_right_text3,.content1_right_text4{color: #d07d91}
.content1_right_text3{float: left;}
.content1_right_text4{margin-top: 7%}

/*
 *content2内容设置
 *横向三栏盒布局
 */
.content2{
    width: 892px;
    height: 172px;
    padding-top: 46px;

}
.content2_box{
    width: 641px;
    height: 172px;
    display: flex;
    flex-flow: row;
    margin-left: 44px;
}
.content2_box_1_zi1 ,.content2_box_1_zi2 ,.content2_box_1_zi3{
    font-weight:900;  /*字体加粗*/
    text-decoration: underline;
}
.content2_box_1_zi1{color: #418c59}
.content2_box_1_zi2{color: #d2994f}
.content2_box_1_zi3{color: #cc7680}
.content2 .content2_box span{color: #e9b9b8}
.content2_box_1{line-height: 16px}
/*
 *content3内容设置
 *flex两列盒布局
 */
.content3{
    height: 620px;
    width: 892px;
    margin-left: 44px;
    margin-right: 44px;
    padding-top: 60px;
    display: flex;
    flex-flow: row;
}

/*
 *content3左边内容设置
 */
.content3_left{
    width: 440px;
    height: 620px;
    padding-right: 6px;
    display: block;
}
.content3_left_top{
    font-family: 黑体;
    font-size: 42px;
    line-height: 16px;
    font-weight: 900;
    color: #11456b;
    padding-bottom: 20px;
}

.content3_left_top span{
    font-size: 72px;
    color: #f5e327;
    font-style: italic;
}
.c3_le_top_tm{font-size: 33px}

/*画线*/
.content3_left_line{
    height: 1px;
    width: 415px;
    background-color: #11456b;
    padding-bottom: 1px;
}
.content3_left_text{
    width: 415px;
    height: 360px;
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
}
.c3_left_text_big{
    width: 70px;
    height: 30px;
    font-size: 70px;
    color: #f5e327;
    float: left;
    margin-top: 20px;

}
.content3_left_text img{
    width: 160px;
    height: 289px;
    float: right;
    margin: 6px;
}

/*
 *content3右边内容配置
 */
.content3_right{
    width: 452px;
    height: 620px;;
}
.c3_right_img{
    width: 452px;
    height: 256px;
    background: url("../img/1.png") no-repeat;
    background-size: 452px 256px;
    padding-bottom: 20px;
}
.c3_r_ibox{
    width: 452px;
    height: 61px;
    background-color: rgba(135,132,127,0.6);
    position: relative;
    bottom: -195px;
}
.c3_r_iboxline{
    width: 3px;
    height: 44px;
    background-color: #d55d5c;
    margin-left: 40px;
    margin-top: 10px;
}
.c3_r_iboxtext{
    font-size: 12px;
    color: yellow;
    font-style: italic;
    margin-left: 50px;
    margin-top: -34px;
}
.c3_r_iboxtext span{
    font-size: 26px;
    color: white;
    font-family: "微软雅黑 Light";
    font-style: normal;
}
.c3_right_area{
    width: 452px;
    height: 326px;
    background-color: #eeedd6;

}

.c3_r_a_d1{
    width:452px;
    height: 140px;
}
.c3_r_a_d2{
    width: 452px;
    height: 162px;
    display: block;
}
.c3_r_a_d21{
    background-color: #d55d5c;
    width: 262px;
    height: 162px;
    float: left;
    font-family: 黑体;
}
.c3_r_a_d211{
    font-size: 110px;
    color: white;
    margin-top: 30px;
    padding-left: 10px;
    float: left;
}
.c3_r_a_d2line{
    width: 2px;
    height: 86px;
    margin-top: 45px;
    margin-right: 10px;
    background-color: white;
    float: left;
}
.c3_r_a_d212{
    font-family: 黑体;
    font-size: 12px;
    color: white;
    margin-top: 40px;
    line-height: 16px;

}
.c3_r_a_d212 span {
    font-size: 22px;
}
.c3_r_a_d22{
    width:170px;
    height: 162px;
    font-family: 黑体;
    margin-left: 20px;
    float: left;
    font-size: 12px;
    line-height: 16px;
    font-style: italic;
}
.zuomaohao,.youmaohao{
    font-size: 72px;
    color: #d45d4c;
}
.zuomaohao{
    position: relative;
    bottom: -20px;
    left: -30px;
    float: left;
}
.youmaohao{
    position: relative;
    left: 60px;
    bottom: -20px;
}


/*
 *尾部设计
 */
.footer{
    width: 892px;
    margin-left: 44px;
    margin-right: 44px;
}
.line3{
    width: 892px;
    height: 1px;
    background-color: black;
    margin-top: 60px;
}
.footer_text{
    position: relative;
    left: 780px;
    font-size: 16px;
    font-family: 黑体;
    color: #d45d4c;
}