body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 1280px;
}

/* div.container_body{
    margin: 0 auto; 
     width: 1280px;
} */

header{
    width: 100%;

    overflow: hidden;
}

div.img{
    float: left;

    margin: 13px 0 11px 59px;
    width: 31px;
    height: 31px;
    vertical-align: middle;

    background-image: url(../images/_编组_.png);
}

div.title_left{
    float: left;

    margin: 18px 0 0 11px;

    font-family: SimHei;
    font-size: 21px;
    line-height: 27px;
    vertical-align: middle;

    color: #393a3a;
}

ul.title_right{
    display: inline-block;
    list-style: none;

    margin-left: 42%;

    font-family: 'MicrosoftYaHei';
    font-size: 14px;
    line-height: 14px;
    vertical-align: middle;

    color: #787b83;
}

a.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #787b83;
}

a.nav:hover{
    color: #e74f4d;
}

a.nav:hover div.line0{
    width: 65px;
    visibility: visible;
}

ul.title_right li{
    float: left;
}

ul.title_right li+li{
    margin-left: 40px;
}

img.login_img{
    margin-left: 31px;
    vertical-align: middle;
}

a.login{
    margin-left: 5px;

    font-family: 'MicrosoftYaHei';
    font-size: 14px;
    line-height: 27px;
    text-decoration: none;
    vertical-align: middle;

    color: #e74f4d;
}

div.line0{
    position: relative;
    top: 20px;
    width: 1px;
    height: 5px;

    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari 和 Chrome */
    -o-transition: all 0.5s; /* Opera */
    visibility: hidden;

    background-color: #e74f4d;
}

div.pic1{
    overflow: hidden;
    
    width: 100%;
    height: 691px;

    background-image: url(../images/one.png);
    background-repeat: no-repeat;
    background-size: cover;
}

div.content_time{
    margin: 230px 0 0 117px;

    font-family: 'MicrosoftYaHei';
    font-size: 60px;
    line-height: 60px;

    color:#ffffff;
}

div.content0{
    margin: 30px 0 66px 117px;

    width: 295px;

    font-family: 'MicrosoftYaHei';
    font-size: 21px;
    line-height: 28px;

    color: #ffffff;
}

a.start{
    display: block;

    margin-left: 117px;
    width: 331px;
    height: 65px;

    font-family: 'MicrosoftYaHei';
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 3px;

    color: #ffffff;
    background-color: #e7504d;
}

a.start:hover {
    cursor: pointer;
    background-color: #fc7c7a;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

div.ul{
    margin: 0 auto;
    width: 1180px;
    height: 250px;

    font-family: 'SimHei';
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: #767777;
}

ul.ul1{
    margin-top: 45px;
}

ul.ul1,
ul.ul2{
    display: inline-block;

    list-style: none;

    padding-left: 0;
}

p.li{
    margin: 46px 0 0 0; 

    text-align: center;
}

ul.ul1 li+li{
    margin-left: 180px;
}

ul.ul1 li{
    float: left;

    width: 154px;

    text-align: center;
}

li.first::after,
li.sec::after,
li.third::after{
    display: block;
    float: left;
    content: "";
    margin-left: 227px;
    margin-top: -40px;
    width: 2px;
    height: 50px;
    background: #aaaaab;
}

ul.ul2{
    margin-top: -54px;
}

ul.ul2 li{
    float: left;

    width: 1.5px;
    height: 54px;

    background-color: #aaaaaa;
}

ul.ul2 li+li{
    margin-left: 320px;
}

div.title{
    width: 100%;
    height: 360px;

    font-family: 'SimHei';
    font-size: 53px;
    text-align: center;

    color: rgba(50,51,51,0.5);
    background-color: #edecec;
}

div.title p{
    margin: 46px 0 0 0; 
}

div.title img{
    margin-top: 89px;

    width: 91px;
    height: 92px;
}

div.city_banner{
    width: 100%;
    height: 341px;

    text-align: center;

    background-image: url(../images/bann.png);
    background-size: cover;
}

p.one{
    margin: 0;
    padding-top: 53px;
    font-family: 'MicrosoftYaHei';
    font-size: 21px;

    color: #ffffff;
}

div.line1{
    margin: 10px auto 0;

    width: 31px;
    height: 3px;

    background-color: rgba(255,255,255,0.8);
}

p.two{
    margin: 19px 0 0 0;

    font-family: 'MicrosoftYaHei';
    font-size: 12px;

    color: rgba(255,255,255,0.8);
}

select.country,
select.province,
select.city{
    margin: 52px 14px 0 14px;
    border: none;
    width: 236px;
    height: 36px;

    font-family: 'MicrosoftYaHei';
    font-size: 12px;

    color: #a8aaaa;
    
}

option{
    padding: 27px 0;

    color: #89898a;
    background-color: #e3e2e4;
}


button.search{
    position: relative;
    left: 10px;

    border: none;
    width: 236px;
    height: 36px;

    font-family: 'MicrosoftYaHei';
    font-size: 14px;
    letter-spacing: 24px;
    text-align: center;

    color: #ffffff;
    background-color: #be4e48;

    cursor: pointer;
}

button.search:hover{
    background-color: #fc7c7a;
}

div.act{
    width: 100%;
    height: 605px;

    background-color: #f7f7f7;
    background-image: url(../images/图三－图六.png);
    background-repeat: no-repeat;
    background-position: 156px 112px;
}

div.beijing{
    float: left;
    margin: 101px 0 0 148px;

    border: 1px solid #dadada;
    width: 219px;
    height: 337px;
}

div.shanghai{
    float: left;
    margin: 152px 0 0 32px;

    border: 1px solid #e1e1e1;
    width: 219px;
    height: 337px;
}

div.shenzhen{
    float: left;
    margin: 100px 0 0 37px;

    border: 1px solid #e1e1e1;

    width: 219px;
    height: 337px;
}

div.hongkong{
    float: left;
    margin: 100px 0 0 30px;

    border: 1px solid #e1e1e1;

    width: 219px;
    height: 337px;
}

p.act{
    margin: -60px 0 0 0;

    font-family: 'SimHei';
    font-size: 25px;
    text-align: center;
    letter-spacing: 28px;
}

p.act0{
    margin: 340px 0 0 0;

    font-family: 'SimHei';
    font-size: 15px;
    text-align: center;
}

p.act1{
    margin: 6px 0;

    font-family: 'MicrosoftYaHei';
    font-size: 12px;
    text-align: center;

    color: #818181;
}

div.newworld{
    overflow: hidden;
    width: 100%;
}

div.pic_left{
    position: relative;
    float: left;

    width: 68%;
    height: 566px;

    font-family: 'MicrosoftYaHei';
    text-align: center;

    color: #ffffff;
    background-image: url(../images/pic_left.png);
    background-repeat: no-repeat;
    background-size: cover;
}

p.newworld{
    margin: 130px 0 0 0;

    font-size: 49px;
    line-height: 49px;
}

p.text_time{
    margin: 0;

    font-size: 157px;
    line-height: 157px;
}

p.time{
    font-size: 21px;
    line-height: 21px;
    text-align: center;
}

div.tri-left{
    position: absolute;
    top: 268px;
    right: 0;

    border-top: 15.5px solid transparent;
    border-right: 26px solid #ffffff;
    border-bottom: 15.5px solid transparent;
}

div.pic_right{
    float: left;

    width: 32%;
    height: 567px;
}

div.pic_right img{
    display: block;
    margin: 165px auto 0;
}

div.pic_right p{
    margin: 14px auto;
    width: 288px;

    font-family: 'SimSun';
    font-size: 12px;
    line-height: 30px;

    color: #aaaaaa;
}

a.more_button{
    display: block;

    margin: 0 auto;
    border: 1px solid #e25c60;
    width: 107px;
    height: 35px;

    font-family: 'MicrosoftYaHei';
    font-size: 12px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;

    color: #e25c60;
    background-color: #ffffff;
}

div.round_black{
    float: left;

    margin: 24px 0 0 180px;
    border: 1px solid #929292;
    border-radius: 1em;
    width: 12px;
    height: 12px;

    background-color: #929293;
}

div.round{
    float: left;

    margin: 24px 0 0 14px;
    border: 1px solid #b2b2b3;
    border-radius: 1em;
    width: 12px;
    height: 12px;

    background-color: #ffffff;
}

div.last{
    overflow: hidden;
    width: 100%;

    font-family: 'SimHei';
    font-size: 21px;
    line-height: 28px;
}

div.one,
div.two{
    float: left;

    width: 34%;
    height: 521px;
}

div.one{
    text-align: center;

    color: #ffffff;
    background-color: #e74f4d;
}

div.two{
    text-align: center;
    color: #323333;
}

div.one p,
div.two p{
    margin-top:173px;
}

div.line2{
    margin: 0 auto;
    width: 31px;
    height: 3px;

    background-color: #ffffff;
}

div.line3{
    margin: 0 auto;
    width: 31px;
    height: 3px;

    background-color: #ababab;
}

a.searchmore1{
    display: block;

    margin: 25px auto 0;
    border: 1px solid #ffffff;

    width: 170px;
    height: 44px;

    font-family: 'SimHei';
    font-size: 21px;
    line-height: 44px;
    text-decoration: none;

    color: #ffffff;
    background-color: #e74f4d;
}

a.searchmore1:hover{
    border:1px solid #999797;
    background-color: #fff;
    color: black;
}

a.searchmore2{
    display: block;

    margin: 25px auto 0;
    border: 1px solid #e74f4d;

    width: 170px;
    height: 44px;

    font-family: 'SimHei';
    font-size: 21px;
    line-height: 44px;
    text-decoration: none;

    color: #e74f4d;
    background-color: #ffffff;
}

a.searchmore2:hover,
a.more_button:hover
{
    border:1px solid #d3cece;
    background-color: #e74f4d;
    color: #fff;
}

div.three{
    position: relative;
    float: left;

    width: 32%;
    height: 521px;

    background-image: url(../images/last_pic1.png);
    background-repeat: no-repeat;
}

div.three img.chongdie{
    width: 430px;
    height: 521px;
}

div.rightarr{
    position: absolute;
    top: 240px;

    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 26px solid #ffffff;
}

div.volunteer{
    overflow: hidden;

    /* width: 1280px; */
    height: 749px;
}

div.content{
    overflow: hidden;

    margin: 118px auto 0;
    width: 1003px;
}

p.title_vol{
    margin: 0;

    font-family: 'SimHei';
    font-size: 21px;
    text-align: center;

    color: #323333;
}

div.line_vol{
    margin: 11px auto;
    width: 31px;
    height: 3px;

    background-color: #e74f4d;
}

p.content_vol{
    margin: 14px auto;
    width: 421px;

    font-family: 'MicrosoftYaHei';
    font-size: 12px;
    line-height: 18px;
    text-align: center;

    color: #aaaaaa;
}

div.protocol{
    float: left;
    margin-top: 109px;

    width: 288px;
}

p.pro_title{
    margin: 0;

    font-family: 'SimHei';
    font-size: 14px;

    color: rgba(35,24,21,0.8);
}

p.pro_cont{
    margin: 20px 0 0 0;
    width: 288px;

    font-family: 'SimSun';
    font-size: 12px;
    line-height: 21px;

    color: rgba(35,24,21,0.6);
}

img.more_arr{
    margin: 18px 0 25px 247px;
}

a.more{
    float: right;

    margin-top: 12px;
    
    font-family: 'SimSun';
    font-size: 12px;
    line-height: 19px;
    text-decoration: none;

    color: rgba(35, 24, 21, 0.6);
}

form.last{
    float: right;

    margin-top: 109px;
    width: 640px;
}

input.one,
input.two{
    margin-bottom: 13px;
    border: none;
    width: 311px;
    height: 41px;

    font-family: SimSun;
    font-size: 12px;
    line-height: 27px;

    color: rgba(35, 24, 21, 0.8);
    background-color: #ececee;
}

input.one{
    float: left;

    margin-right: 17px;
}

input.two{
    float: right;
}

textarea{
    margin-bottom: 13px;
    border: none;
	width: 639px;
	height: 121px;

    font-family: SimSun;
    font-size: 12px;
    line-height: 27px;

    color: rgba(35, 24, 21, 0.8);
    background-color: #ececee;

    resize: none;
}

button.submit{
    border: none;
    width: 639px;
    height: 41px;

    font-family: SimHei;
	font-size: 14px;
    line-height: 27px;
    
	color: #323333;
    background-color: #ececee;

    cursor: pointer;
}

div.foot{
    width: 100%;
    height: 358px;

    text-align: center;
    
    background-color: #32363e;
}

p.contact{
    margin: 0;
    padding-top: 91px;

    font-family: SimHei;
	font-size: 21px;
    line-height: 21px;
    
	color: #ffffff;
}

p.contac_content{
    margin: 11px auto 0;
    width: 468px;
    
    font-family: SimSun;
	font-size: 12px;
    line-height: 18px;

	color: #ffffff;
}

form.submit{
    display: flex;
    justify-content: center;
    margin-top:30px;
}

input.mail{
    float: left;
    -webkit-appearance: none;
    padding: 0;
    border: 0;
    width: 431px;
    height: 41px;
    
	font-family: MicrosoftYaHei;
	font-size: 14px;
	line-height: 26px;

    color: #aaaaaa;
}

button.sub_contact{
    float: left;
    border: none;
    width: 81px;
	height: 41px;

	font-family: MicrosoftYaHei;
    font-size: 15px;
    letter-spacing: 6px;
	line-height: 22px;

    color: #ffffff;
    background-color: #6f7278;

    cursor: pointer;
}

img.contact{
    display: block;

    margin: 37px auto 0;
}

footer{
    overflow: hidden;

    width: 100%;
    height: 58px;
    
    background-color: #2f2f38;
}

p.left{
    float: left;

    margin: 30px 0 0 99px;

    font-family: SimSun;
    font-size: 12px;
    line-height: 12px;

	color: #ffffff;
}

a.right{
    float: right;

    margin: 33px 10px 0 0;

	font-family: SimSun;
    font-size: 12px;
    text-decoration: none;

	color: #ffffff;
}