header,
footer {
    background-color: rgb(214, 5, 5);
    color:white;
    text-align: center;
    line-height: 50px;
    
}

p{
    text-indent: 2em;
    font-size: 15; 
}

img {
    display: block;
    margin: 0 auto;
  }
   
footer{
    clear:both;
} 

.layout_main_wrapper {   
    width: 100%;  
    float: left;  
    height:560px;
    margin: 10px 0;
}

.layout_main{  
    margin:0 210px;
    height:545px; 
    background-color: #71c3e4;    
}

aside{
    float: left;
    height:560px;
    width: 200px;
    margin: 10px 0;
}

.layout_aside_left{
    
    margin-left: -100%;
    background-color: #b5e0f1;
}

.layout_aside_right{
    margin-left: -200px;
    background-color: #329dc7;
}

