*{
    padding:0px;
    margin:0px;
}
html{
    background-color: grey;
}
/* .head{ */
/*     width: 980px;  */
    /* background-color: #ffe600;
} */
.main{
    background-color: #ffffff;
    width: 980px;
    height: 1386px;
/*     align-items:center; */
    margin:20px auto;
}
.url{
    width: 110px;
    height: 61px;
    margin-left:44px;
    background-color: red;
}
p{
    font-size: 12px;
    font-family: SimHei;
    color: #ffffff;
    padding-top: 45px;
}
.date{
    font-size: 12px;
    font-family: SimHei;
    color: #d45d5c;
    text-align: right;
    margin-top: -60px;
    margin-right: 44px;
    margin-bottom:0%;
}
hr{
    width: 892px;
    height: 2px;
    background-color: #938e8c;
    margin-left:44px;
    margin-top: 0%;
}
.png1{
    float: left;
    position: relative;
    width: 641px;
    height: 301px;
    margin-left: 44px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.green{
    position: absolute; 
    left: 0; 
    bottom:0;
    width: 191px; 
    height: 301px;  
    background: rgb(66, 253, 41);
    opacity: 0.4;
    filter:alpha(opacity=40);
    -moz-opacity:0.4;
}
 .pink{
    position: absolute;
    width: 191px;
    height:301px;
    right: 0;
    bottom: 0;
    background-color: pink;
    opacity: 0.4;
    filter:alpha(opacity=40);
    -moz-opacity:0.4;
}
.about{
    margin-top: 50px;
    float: left;
    position: relative;
    width:250px;
    height: 301px;
    margin-left: 5px;
}
.hr1{
    width: 203px;
    height: 2px;
    background-color: #cc8091;
 /*    margin-bottom:0%; */
} 
.p1{
    text-align: left;
    font-size: 24px;
    color: #000000;
    text-decoration: underline;
    font-family: Microsoft YaHei;
    margin-left:40px;
    padding-top: 0%;
}
.p2{
    font-size: 12px;
    color:#676767;
    font-size: KaiTi;
    line-height:10px;
    margin-left:40px;
    padding-top: 0%;
}
.number{
    font-size: 116px;
    color: #75b86b;
    font-family: Microsoft YaHei;
    padding-top: 0%;
    margin-left: 40px;
}
.figure{
    font-size: 55px;
    color:#cc8091;
    font-family: Microsoft YaHei;
    margin-left: 40px;
    padding-top: 0%;
}
.CSS{
    font-size: 21px;
    color:#cc8091;
    font-family: Microsoft YaHei;
    margin-left: 120px;
    padding-top: 0%;
    margin-top: -20%;
}
.csscss{
    font-size: 12px;
    color:#cc8091;
    font-family: Microsoft YaHei;
    margin-left: 120px;
   /*  padding-top: 0%; */
    margin-top: -20%;
}
.Flex{
    width:641px;
    height: 200px;
    display: flex;
    margin-top: 100px;
    margin-left:44px;
}
.What{
/*     order:-1; */
    flex-basis: 230px;
}
.When{
    flex-grow: 1;
}
.How{
    flex-basis: 190px;
}
.h1{
    font-size: 16px;
    color: green;
    text-decoration: underline;
}
.h12{
    font-size: 16px;
    color: #d2994f;
    text-decoration: underline;
}
.h13{
    font-size: 16px;
    color: #CC7680;
    text-decoration: underline;
}
.p3{
    padding-top: 0%;
    font-size: 12px;
    color: #231815;
    font-family: Microsoft YaHei;
    line-height: 16px;
    opacity: 0.7;
}
.p4{
    font-size: 12px;
    font-family: Mrcrosoft YaHei;
    color: #cd4a48;
    line-height: 16px;
    opacity:0.7;
}
.last{
    width: 415px;
    height:625px;
    border:1px solid black;
    margin-left: 44px;
}
/* .plast{
    padding-left: 44px;
} */
.hr3{
    width: 415px;
    height: 2px;
    background-color: #11456b;
    margin-top: 20px;
    margin-left:0px;
}
.divfront{
    float: left;
/*     margin-left: 44px; */
    width: 70px;
    height: 70px;
}
.front{
    font-family: Mrcrosoft YaHei;
    font-size: 70px;
    color: #f5e327;
    padding-top: 0%;
}
.photo{
    float:right;
    margin: 10px;
}

.pfront{
/*     position: static; */
/*     float:left; */
    font-family: SimSun;
    font-size: 12px;
    color: #767777;
    line-height: 16px;
    padding-top:10px;
}

.divphoto{
    position: relative;
    width: 458px;
    height: 275px;
    margin-top: -625px;
    margin-left:480px;  
    padding-top: 0;
}
.photo1{
    margin-top:-52%; 
}
.black{
    position: absolute; 
    left: 0; 
    bottom:0;
    width: 458px; 
    height: 61px;  
    background: rgb(0, 0, 0);
    opacity: 0.4;
    filter:alpha(opacity=40);
    -moz-opacity:0.4;
}
.Line{
    float:left;
    width:3px;
    height:44px;
    background-color: #72b16a;
    margin-left:20px;
    margin-top:8.5px;
}
.tech{
    font-family: Mrcrosoft YaHei;
    font-size: 26px;
    color: #ffffff;
    padding-top:11px;
}
.tech1{
    font-family: Mrcrosoft YaHei;
    font-size: 12px;
    color: #72b16a;
    letter-spacing:140%;
    margin-top: -13%;
    padding-left:30%;
}
.last1{
/*     position: relative; */
    width: 459px;
    height: 318px;
/*     border:1px solid black; */
    background-color: rgb(248, 199, 134);
    margin-top:20px;
    margin-left:480px;
}
.divul{
    width: 419px;
    height:158px;
    margin-top: 0%;
/*     border:1px solid black; */
    margin-left: 20px;
}
ul{
    margin-left: 20px;
    float: left;
    font-size: 16px;
    font-family: SimSun;
    line-height: 20px;
    margin-top: -240px;
    line-height: 20px;
}
.emli{
    float: right; 
    font-size: 12px;
}
.divhello{
    width: 260px;
    height: 160px;
    background-color: rgb(196, 39, 39);
}
.zero{
    position: absolute;
    font-size: 110px;
    font-family:Mrcrosoft YaHei;
    color: #ffffff; 
    margin-left: 20px;
    margin-top: -25px;
}
.Line1{
    position: absolute;
    width: 2px;
    height: 86px;
    background-color: #ffffff;
    margin-left: 80px;
    margin-top: 40px;
}
.pone{
    position: absolute;
    font-size:21px;
    font-family: SimHei;
    color: #ffffff;
    line-height: 24px; 
    margin-left: 85px;
}
.phello{
    font-size: 12px;
    line-height:6px;
    margin-left: 85px;   
}
.divworld{
    width: 188px;
    height: 157px;
    margin-left: 270px;
    margin-top: -160px;

}
.hello{
    position: relative; 
    top:-90px; 
    font-family: SimHei;
}
.pworld{
    font-size: 14px;
    color: #5a5b5b;
    line-height: 16px;
}
 .span1{
     font-size: 72px;
     color: #d45d5c;
 }
.hr4{
    position: absolute;
    width:892px;
    height: 1px;
    background-color: #938e8c;
    margin-top:20px;
    margin-left: 44px;
}
.end{
    font-size: 12px;
    font-family:SimHei;
    color: #d45d5c; 
    margin-top: -20px;
    margin-left: 855px;
}