html {
  font-size: 10px; /* px ��Ϊ�����أ�pixels����: �����������ĳߴ�������10����  */
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 20px;
  color: #CDCDCD
}
h3 {
  font-size: 15px;
  color: #CDCDCD
}
h4 {
  font-size: 30px;
}

p, li {
  font-size: 16px; 
  line-height: 18px;
  letter-spacing: 1px;
}

.id1 {
  border: 1px solid #CCC;
  background-color: #FFFFFF;
  padding: 0px ;
  margin: 0 2px 5px 2px;
  box-shadow:1.4px 1.4px #726969;
}

.id2 {
  border: 1px solid #CCC;
  background-color: #FFFFFF;
  padding: 0px ;
  margin: 0 2px 5px 2px;
  box-shadow:1.4px 1.4px #726969;
}

.id3 {
  border: 1px solid #CCC;
  background-color: #FFFFFF;
  padding: 0px ;
  margin: 0 2px 5px 2px;
  box-shadow:1.4px 1.4px #726969;
}

.id4 {
  text-align:center;
  border: 1px solid gray;
  background-color: #FFFFFF;
  padding: 0px ;
  margin: 5px 1300px 3px 20px;
}

.id5 {
  text-align:left;
  border: 1px solid #CCC;
  background-color: #FFFFFF;
  padding: 0px ;
  margin: 0 2px 5px 2px;
  box-shadow:1.4px 1.4px #726969;
}

.id6 {
  border: 1px solid #CCC;
  background-color: #FFFFFF;
  padding: 0px ;
  margin: 0 2px 5px 2px;
  box-shadow:1.4px 1.4px #726969;
}

.id7 {
  text-align:left;
  border: 1px solid white;
  background-color: #FFFFFF;
  padding: 0px ;
  margin: 5px 100px 3px 300px;
}
form {
  width: 800px;
}
form div + div {
  margin-top: 1em;
}
label {
  display: inline-block;
  width: 70px;
  text-align: right;
}
#text {
  width:500px;
  height:60px;
}
.button {
  margin: 0px;
}
button{
  border:none;
  background-color:blue;
  color:white;
  text-align:center;
  height:30px;
  width:1490px;
  border-radius:12px;
}

.id8 p{
     font-size:1px;
     color:#CDCDCD;
}


.ui{
  width:700px;     
  height:30px;
  list-style: none;
  margin:0 0 5px 780px;
  padding:0;
}

.ui li{
  width:90px;
  margin:0px 0px 1px 0px;
  float: right;
}

.ui li a{
  text-align:left;
  width:70px;
  height:30px;
  padding:0 20px;
  font-size: 12px;
  line-height:50px;
  background: black;
  display: inline-block;
}
.id10 {
  list-align:right;
  background:black;
  margin: 0px 0px 5px 0px;
}
.id10 a{
  color:white;
}


  