.content{
    float:left;  
    width:100%;
}
.main{
    background-color: rgb(255, 2, 2);
    height: 1000px;
    margin-left: 100px;
    margin-right: 100px;
}
.left{
    float:left;
    width:100px;
    height: 1000px;
    background-color: green;
    margin-left: -100%;
}
.right{
    float:right;
    width: 100px;
    height: 1000px;
    background-color: blue;
    margin-left:-400px;
}